@import "./variables.scss";
.main-card{
    background-color: $darkBlue;
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: hsl(246, 80%, 60%);
        border-radius: 15px;
        padding: 1.5rem;
        img{
            width: 4rem;
            border: 3px white solid;
            border-radius: 50%;
            margin-right: 1rem;
        }
        article{
            color: $paleBlue;
            p{
                font-size: .9rem;
                margin-bottom: .3rem;
            }
            h1{
                font-weight: 300;
                font-size: 1.5rem;
                color: white;
            }
        }
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem;
        font-size: 1.1rem;
        color: $desaturatedBlue;
        p:hover{
            cursor: pointer;
            color: white;
        }
        .active{
            color: white;
        }

    }
}

@media(min-width:376px) {
    .main-card{
        header{
            flex-direction: column;
            align-items: flex-start;
            height: 65%;
            img{
                width: 5rem;
            }
            article{
                margin: 2rem 0;
                h1{
                    font-size: 2.2rem;
                }
            }
        }
        nav{
            flex-direction: column;
            font-size: 1.2rem;
            p{
                margin: .5rem 0;  
            }
        }
    }
}