@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400:500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

html {
  font-family: 'Rubik', sans-serif;
}

body{
  background-color: hsl(226, 43%, 10%);
  padding: 2.5rem 1rem;
  font-size: 18px;
}

